# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ project files
.idea/
*.iml

# macOS
.DS_Store

# Leiningen
target/
lib/
classes/

# Clojure REPL history
.repl-history
dataset.csv
dataset_clean.csv

models/
features.csv
ReadMe.pdf